* {
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 250px 10px 250px;
}

img {
  max-width: 100%;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	font-size: 2.0em;
	margin: 0px;
}

p {
	font-size: 1.0em;
	margin: 0px;
}

.pattern {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	padding: 25px;
	margin-bottom: 100px;
	border: 3px dashed #d3d3d3;
	transition: 0.3s;
}

.pattern:hover {
	transform: scale(1.05);
}

.pattern__media {
	grid-column: 1fr;
	grid-row: 1 / span 2;
}

.pattern__title {
	grid-column: 2 / span 3;
	margin-left: 10px;
}

.pattern__preview {
	grid-column: 3 / span 2;
	text-align: right;
}

.pattern--preview1 {
	margin-top: 180px;
}

iframe {
	width: 400px;
	height: 300px;
}

@media only screen and (max-width: 1800px) {

	body, html {
		margin: 10px 100px 10px 100px;
	}

	.pattern {
		display:grid;
		grid-template-columns: 1fr;
		grid-gap: 0px;
		
	}

	.pattern h1 {
		text-align: center;
	}

  	.pattern__media {
  		grid-column: 1;
  		grid-row: 1;
  	}

  	.pattern__title {
  		grid-column: 1;
  		grid-row: 2;
  		margin: 0;
 	 }

  	.pattern__preview {
  		grid-column: 1;
  		grid-row: 3;
  	}

  	.pattern--preview1 {
		margin-top: 80px;
	}	

  	iframe {
		width: 100%;
		height: 600px;
	}
}